/* Meha project v1. 10/5/2022 */

/* generic page structure */
.grid {
	display: grid;
	column-gap:  50px;
}

.text1 {
	grid-column: 1;
}

.text2 {
	grid-column: 2;
}

.text3 {
	grid-column: 3;
}

.text4 {
	grid-column: 4;
}

.text5 {
	grid-column: 5;
}

.text6 {
	grid-column: 6;
}

.text7 {
	grid-column: 7;
}

.text8 {
	grid-column: 8;
}

.text9 {
	grid-column: 9;
}

.text10 {
	grid-column: 10;
}


.c0_1{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Fanwood Text";font-style:normal}
.c1_1{color:#3c3e3f;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"Fanwood Text";font-style:normal}
.c2_1{padding-top:0pt;padding-bottom:0pt;line-height:1.1500000000000001;orphans:2;widows:2;text-align:left;height:11pt}
.c3_1{padding-top:0pt;padding-bottom:0pt;line-height:1.1500000000000001;orphans:2;widows:2;text-align:left}
.c6_1{background-color:#4a86e8;font-size:12pt;font-family:"Fanwood Text";color:#3c3e3f;font-weight:400}
.c8_1{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}
.c7_1{background-color:#00ff00}
.c5_1{background-color:#ff00ff}
.c4_1{background-color:#ffff00}



.c0_10{color:#3c3e3f;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"Fanwood Text";font-style:normal}
.c2_10{padding-top:0pt;padding-bottom:0pt;line-height:1.1500000000000001;orphans:2;widows:2;text-align:left;height:11pt}
.c8_10{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Fanwood Text";font-style:normal}
.c4_10{padding-top:0pt;padding-bottom:0pt;line-height:1.1500000000000001;orphans:2;widows:2;text-align:left}
.c1_10{background-color:#ffff00;font-size:12pt;font-family:"Fanwood Text";color:#3c3e3f;font-weight:400}
.c5_10{font-size:12pt;font-family:"Fanwood Text";color:#3c3e3f;font-weight:400}
.c9_10{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}
.c6_10{background-color:#00ff00}
.c7_10{background-color:#ff00ff}
.c3_10{background-color:#ffff00}